@model IEnumerable<PetApp.Models.PostUdruge>

@{
    ViewData["Title"] = "Objave udruga";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p style="text-align:center;">
        <input onMouseOver="this.style.color='#8ea0d1'"
               onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;" type="button" title="Kreiraj objavu" value="Kreiraj objavu" onclick="location.href='@Url.Action("Create", "PostUdruge")'" />
    </p>}
<div class="table" style="display:block;margin-top:30px;margin-bottom:30px;">


    @foreach (var item in Model)
    {
        <div>
            <div style="background-color:#dde2f0;text-align:center;font-size:50px; ">
                @Html.DisplayFor(modelItem => item.Naziv)
            </div>
        </div>

        <div>
            <div style="display:block;padding-top:10px;text-align:center;font-size:25px;margin-bottom:100px;background-color:#ccd4e8;">
                @Html.Raw(item.Content)
            </div>
        </div>
        <div>
            <div style="        text-align: center;
                 block;
                 padding-left: 50px;
                 padding-right: 50px;
                 margin-top: 250px;
                 margin-bottom: 0px;
                 text-align: center>
                ">
                <div style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Datum)
                </div>
                <div style="        text-align: center;
        padding-left: 50px;
        padding-right: 50px;">

                    @Html.DisplayFor(modelItem => item.Udruga.Naziv)
                </div>
            </div>
        </div>
        <div>
            <br />
            <br />
            <br />
            <div style="        text-align: center;

        margin-bottom: 30px;">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;" type="button" title="Uredi podatke" value="Uredi podatke" onclick="location.href='@Url.Action("Edit", "PostUdruge", new { id = item.Id })'" />
                }


                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;" type="button" title="Izbriši" value="Izbriši" onclick="location.href='@Url.Action("Delete", "PostUdruge", new { id = item.Id })'" />
                }
            </div>
            <br /><br />
        </div>
    }
    <br />
    <br />
    <br />

</div>
