@model IEnumerable<PetApp.Models.PostUdruge>

@{
    ViewData["Title"] = "Objave udruga";
}
<style>
   input {
        border: none;
        color: black;
        padding: 10px 15px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        background-color: dodgerblue;
    }

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  margin-left:10px;
  margin-bottom:10px;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: black;
  font-size: 35px;
  cursor: pointer;
}
</style>
<script>
    function openTab(tabName) {
        var i, x;
        x = document.getElementsByClassName("containerTab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
  
    }
</script>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <input onMouseOver="this.style.color='#8ea0d1'"
               onMouseOut="this.style.color='white'"
               type="button" title="Dodaj objavu"
               value="Dodaj objavu"
               onclick="location.href='@Url.Action("Create", "Postudruge")'" />
}<div class="row" >
    @foreach (var item in Model)
    {


        <div class="column" onMouseOver="this.innerText = 'Pogledaj objavu'
    " onMouseout="this.innerText= '@Html.DisplayFor(modelItem => item.Naziv)'"
             onclick="openTab(@item.Id);" style="background-color:#f7fafa;color:black;">
            @Html.DisplayFor(modelItem => item.Naziv)
        </div>

        <div id="@item.Id" class="containerTab" style="display:none;background:white;color:black;">

 <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>

            <p> @Html.Raw(item.Content)</p>
            <p> @Html.Raw(item.Datum)</p>
            <p> @Html.Raw(item.Udruga.Naziv)</p>
            <p>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'"
                           type="button"
                           title="Uredi podatke"
                           value="Uredi podatke"
                           onclick="location.href='@Url.Action("Edit", "PostUdruge",
new { id = item.Id })'" />


                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'"
                           type="button"
                           title="Izbriši"
                           value="Izbriši"
                           onclick="location.href='@Url.Action("Delete", "PostUdruge",
                            new { id = item.Id })'" />
                }
            </p>
        </div>



    }

</div>


