@model PetApp.Models.SklonisteView



<h2>Skloništa</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <input onMouseOver="this.style.color='#8ea0d1'"
           onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;" type="button" title="Kreiraj sklonište" value="Kreiraj sklonište" 
           onclick="location.href='@Url.Action("Create", "Sklonista")'" />
}
<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Grad</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Web</th>
    

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sklonista)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["SkloništeID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a href="http://@item.Web">@item.Web</a>
                </td>

                <td>
                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
                          border: none;
                          color: white;
                          padding: 10px 15px;
                          text-align: center;
                          text-decoration: none;
                          display: inline-block;
                            font-size: 15px;" type="button" title="Pogledaj objave" value="Pogledaj objave" 
                           onclick="location.href='@Url.Action("PostoviSklonista", "Sklonista", new { id = item.Id })'" />
                    <br /><br />
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <input onMouseOver="this.style.color='#8ea0d1'"
                               onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
                              border: none;
                              color: white;
                              padding: 10px 15px;
                              text-align: center;
                              text-decoration: none;
                              display: inline-block;
                              font-size: 15px;" type="button" title="Uredi podatke" value="Uredi podatke" 
                               onclick="location.href='@Url.Action("Edit", "Sklonista", new { id = item.Id })'" />
                    }<br />       <br />
                    <input onMouseOver="this.style.color='#8ea0d1'"
                           onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
                          border: none;
                          color: white;
                          padding: 10px 15px;
                          text-align: center;
                          text-decoration: none;
                          display: inline-block;
                           font-size: 15px;" type="button" title="Naši ljubimci" value="Naši ljubimci" 
                           onclick="location.href='@Url.Action("LjubimciTu", "Sklonista", new { id = item.Id })'" />
                    <br />       <br />
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <input onMouseOver="this.style.color='#8ea0d1'"
                               onMouseOut="this.style.color='white'" style="background-color:dodgerblue;
                              border: none;
                              color: white;
                              padding: 10px 15px;
                              text-align: center;
                              text-decoration: none;
                              display: inline-block;
                              font-size: 15px;" type="button" title="Izbriši" value="Izbriši" 
                               onclick="location.href='@Url.Action("Delete", "Sklonista", new { id = item.Id })'" />

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
